<div  style="text-align:center; background:black">
<button type="button" class="btn btn-primary" (click)="useLanguage('en')" style="width:100px">{{'lang.en'|translate}}</button>
<button type="button" class="btn btn-danger" (click)="useLanguage('de')" style="width:100px">{{'lang.de'|translate}}</button>
<button type="button" class="btn btn-warning" style="color:white" (click)="useLanguage('sk')" style="width:100px">{{'lang.sk'|translate}}</button>
</div>

<div class="demo">

<div><div> {{'home.title'|translate}} </div> </div></div>
