.demo {
 height:595px; 
 width:100%;
 background:#f77f00;
 line-height:595px;
 font-size:40pt;
 color:white;
 text-align:center;
 font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .demo {
 height:595px; 
 width:100%;
 background:#f77f00;
 line-height:595px;
 font-size:25pt;
 color:white;
 text-align:center;
 font-weight: bold;

}
}

